# NOTE: Recommended to read with word/line wrapping enabled.
# * APP_HOST and APP_PORT are for what bancho should listen on. If using docker, host should remain 0.0.0.0 but port can be changed freely.
APP_HOST=0.0.0.0
APP_PORT=10000
# * Timezone for the server Container. [List of Ids](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TZ=America/Chicago
# * Service Name is just your brand name or something to identify this as an osu server, used in logging
SERVICE_NAME=kawata
# * Used to set variables in the docker-compose.yml file Container Name also used in logging, make sure to set this to something unique if you are hosting multiple servers to avoid confusion.
CONTAINER_NAME=bancho
# * Container Version is used to specify which version of the image to use if you're using the public images on Docker Hub. If you're building your own images, this can be set to whatever you want, but it's recommended to follow the same naming convention as the public images (BE-Master/BE-Prod/BE-Staging/BE-Dev) to avoid confusion. For production environments, please use BE-Prod to ensure you are using a Production Ready image.
CONTAINER_VERSION=BE-Prod
 # * GitHub Owner and Repo are used to specify which image to pull from Docker Hub if you're using the public images. If you're building your own images, these can be set to whatever you want.
GITHUB_OWNER=kawatapw
GITHUB_REPO=kawata.py
# * ONLY set this to True if you're hosting a cheating server.
CHEAT_SERVER=False
# * Client Version only to be filled when hosting a client.
CLIENT_VERSION=
# * make sure this matches your domain
DOMAIN=example.com
# * Set to True if your frontend uses the root domain (example.com) instead of a subdomain (osu.example.com)
USINGROOTDOMAIN=False
# * make sure these match your db credentials, kawata.py was built using mariadb but mysql should work fine as well.
DB_USER=cmyui
DB_PASS=lol123
DB_NAME=banchopy
DB_HOST=mysql
DB_PORT=3306
# * This is just normal redis nothing special here.
REDIS_USER=default
REDIS_PASS=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
# * this is required for beatmaps
OSU_API_KEY=
# * This is used for authentication between the frontend and backend, make sure to generate an api key via ingame command and set it here, then set the same key in the frontend's .env file. This is to avoid caching issues while ranking beatmaps and other admin tasks that require communication between the frontend and backend.
BOT_API_KEY=
# * make sure this is a safe place for bancho.py to store all of it's data, if using docker which is recommended, this should be set to `/srv/root/.data` and then you can mount a volume to that path in the docker-compose.yml file.
DATA_DIRECTORY=/home/user/kawata.py/.data
# * make sure these match your cert paths, this needs to point into a directory within the repo location if using docker, recommended to be `/srv/root/nginx/certs/fullchain.pem`. This shouldn't need to be volume mapped.
SSL_CERT_PATH=/home/user/certs/fullchain.crt
SSL_KEY_PATH=/home/user/certs/private.key
# * Chimu: https://api.chimu.moe/cheesegull/search - https://api.chimu.moe/v1/download
# * osu.direct: https://osu.direct/api/search - https://osu.direct/d
MIRROR_SEARCH_ENDPOINT=https://catboy.best/api/search
MIRROR_DOWNLOAD_ENDPOINT=https://catboy.best/d
# * Pretty self explanatory.
COMMAND_PREFIX=!
REQUEST_PENDING_ONLY=True
# * This is a comma seperated list of urls to images you wish to be used for seasonal backgrounds.
SEASONAL_BGS=https://i.cmyui.xyz/T74WiQG5wVyf.jpg,https://i.cmyui.xyz/nrMT4V2RR3PR.jpeg
# * This is used for the banners at the bottom of the main menu in-game.
MENU_ICON_URL=https://akatsuki.gg/static/images/logos/logo_ingame.png
MENU_ONCLICK_URL=https://akatsuki.pw
# * Not required but kawata.py does have support for datadog. If you know how to use it, you can set these keys to have datadog monitoring your server.
DATADOG_API_KEY=
DATADOG_APP_KEY=
# * This is a bit different from bancho.py's logging settings. This is used to set the logging level for kawata.py and also to set a focus for the debug logs. 1-3 will increasingly show more verbose logs. Debug Focus is not quite fleshed out fully and likely subject to change.
DEBUG_LEVEL=0
DEBUG_FOCUS=all
# * redirect beatmaps, beatmapsets, and forum pages of maps to the official osu! website
REDIRECT_OSU_URLS=True
# * More comma seperated lists.
PP_CACHED_ACCS=90,95,98,99,100
DISALLOWED_NAMES=mrekk,vaxei,btmc,cookiezi
DISALLOWED_PASSWORDS=password,abc123
DISALLOW_OLD_CLIENTS=True
DISALLOW_INGAME_REGISTRATION=True
# * The Audit Log Webhook - ???
DISCORD_AUDIT_LOG_WEBHOOK=
DISCORD_INVITE=https://discord.gg/ShEQgUx
# * Automatically share information with the primary developer of bancho.py (https://github.com/cmyui) for debugging & development purposes.
AUTOMATICALLY_REPORT_PROBLEMS=False
# * This only affects console displayed logs. We have a sanitizer for logs sent to logging systems like ELK and such with a `Message` field that is not affected by this setting.
LOG_WITH_COLORS=False
# * if you are using cloudflared you NEED to configure this!
TUNNEL_TOKEN=CloudflaredTunnelToken
# * Uncomment this if you have downloaded the database from maxmind. Change the path to the .mmdb file you downloaded, uncomment here and in docker-compose.yml
# * You can download the database here: https://dev.maxmind.com/geoip/geolite2-free-geolocation-data
#MMD_DB_PATH=/home/user/misc/GeoLite2-City.mmdb
# * advanced dev settings
## WARNING: only touch this once you've read through what it enables. you could put your server at risk.
DEVELOPER_MODE=False
